/* Минималистичные шрифты */
.roboto {
    font-family: "Roboto", sans-serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.pt-sans {
    font-family: "PT Sans", sans-serif;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
}

.fira-sans {
    font-family: "Fira Sans", sans-serif;
}


.ubuntu {
    font-family: "Ubuntu", sans-serif;
}

.arimo {
    font-family: "Arimo", sans-serif;
}

.rubik {
    font-family: "Rubik", sans-serif;
}

/* Стильные и красивые шрифты */



.playfair-display {
    font-family: "Playfair Display", serif;
}

.cormorant {
    font-family: "Cormorant", serif;
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.merriweather {
    font-family: "Merriweather", serif;
}

.vollkorn {
    font-family: "Vollkorn", serif;
}

.alegreya {
    font-family: "Alegreya", serif;
}

.spectral {
    font-family: "Spectral", serif;
}

.exo-2 {
    font-family: "Exo 2", sans-serif;
}

.brygada-1918 {
    font-family: "Brygada 1918", serif;
}

.jost {
    font-family: "Jost", sans-serif;
}